/* Fichier utilisé pour les démos et exerices du chapitre 2B #01
   Auteur    : Pierre Coutu
   Date      : 29/01/2020
   Important : Nous allons voir les concepts css en détails au chapitre 3.
*/
body {background-color:#DDDDFF;}
